    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">

          
            <style>
            * {
                box-sizing: border-box;
            }
            
            body {
                margin: 0;
                font-family: Arial;
                font-size: 17px;
            }
            
            #myVideo {
                position: fixed;
                right: 0;
                bottom: 0;
                min-width: 100%; 
                min-height: 100%;
            }
            
            .content {
                position: fixed;
                bottom: 0;
                background: rgba(0, 0, 0, 0.5);
                color: #f1f1f1;
                width: 100%;
                padding: 20px;
            }
            
            #myBtn {
                width: 200px;
                font-size: 18px;
                padding: 10px;
                border: none;
                background: #000;
                color: #fff;
                cursor: pointer;
            }
            
            #myBtn:hover {
                background: #ddd;
                color: black;
            }
            </style>
            </head>
            <body>
            
            <video poster="media/cloud.jpg" autoplay muted loop id="myVideo">
              <source src="media/cloud.mp4" type="video/mp4">
              Your browser does not support HTML5 video.
            </video>
            
            <div class="content">
              <!-- <h1>Heading</h1>
              <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
             -->  
              <button id="myBtn" onclick="myFunction()">Play</button>
            </div>
            
            <script>
            var video = document.getElementById("myVideo");
            var btn = document.getElementById("myBtn");
            
            function myFunction() {
              if (video.paused) {
                video.play();
                btn.innerHTML = "Pause";
              } else {
                video.pause();
                btn.innerHTML = "Play";
              }
            }
            </script>
            










        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Us</h2>
                <center>
                            <div class="map">
                                <center>
                                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                                    <div class="contact-info-inner">
                                        <div><i class="fa fa-map-marker pull-left"></i>  
                                            <p><strong>Address</strong>618 W Winchester St,<br>
                                             Murray, UT 84123</p>
                                        </div>
                                        <div><i class="fa fa-phone pull-left"></i>  
                                            <p><strong>Phone</strong>+1 (801) 810-4798</p>
                                        </div>
                                        <div><i class="fa fa-compass pull-left"></i>  
                                            <p><strong>Office Hours</strong>Mon - Fri, 9:00am - 5:00pm</p>
                                        </div>
                                   
                                </div>
                                </center>
                            </div>
                </center>
             



                <ul class="list-inline banner-social-buttons">
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ network.title }} fa-fw"></i> <span class="network-name">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>


            </div>
        </div>
    </section>
